* {
  box-sizing: border-box; }

body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px; }
    body .controls .controls_panel {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 80%;
      background-color: #52527a; }
      body .controls .controls_panel .button {
        width: 130px;
        height: auto;
        text-decoration: none;
        margin: 15px;
        background-color: #ffccf3;
        color: #330026;
        text-shadow: 3px 1px #ffe066;
        text-align: center;
        padding: 25px;
        font-size: 35px;
        font-weight: 800;
        border: none;
        border-radius: 15px;
        transition: 1s linear; }
        body .controls .controls_panel .button:hover {
          color: #ffccf3;
          text-shadow: none;
          background-color: #330026; }
  body .stopwatch {
    max-width: 33%;
    border: 10px solid #141f1f;
    text-shadow: 2px 2px #ff66d9;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 25px;
    background-color: #b3cccc;
    color: #141f1f;
    font-size: 35px;
    font-weight: 600;
    text-align: center; }
  body .table_results {
    margin: 25px auto;
    max-width: 50%;
    background-color: #ffccf3;
    color: #330026;
    border: 10px solid #330026;
    text-align: center;
    font-size: 600;
    text-transform: capitalize;
    text-shadow: 3px 1px #ffe066;
    padding: 25px; }
  body .results {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px; }
    body .results li {
      min-width: 33%;
      margin-right: 40px;
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 600;
      color: #330026;
      background-color: #b3cccc;
      border: 10px solid #330026;
      text-align: center;
      text-shadow: 3px 1px #ffe066;
      padding: 15px; }
      body .results li span {
        font-size: 25px;
        font-weight: 800;
        color: #3d5c5c;
        text-shadow: 2px 2px #ffccf3;
        padding: 10px; }
      body .results li button {
        padding: 10px;
        font-size: 15px;
        font-weight: 800;
        color: #ffccf3;
        text-align: center;
        text-shadow: none;
        background-color: #330026;
        transition: 1s linear; }
        body .results li button:hover {
          color: #330026;
          text-shadow: 3px 1px #ffe066;
          background-color: #ffccf3; }
