* {
  box-sizing: border-box; }

body {
  position: relative; }
  body .app-content:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("Running_1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: sepia(20%);
    -moz-filter: sepia(20%);
    -o-filter: sepia(20%);
    -ms-filter: sepia(20%);
    filter: sepia(20%);
    -webkit-filter: brigthness(150%);
    -moz-filter: brigthness(150%);
    -o-filter: brigthness(1520%);
    -ms-filter: brigthness(150%);
    filter: brigthness(150%); }
  body .app-content {
    position: relative;
    overflow: auto;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; }
    body .app-content .controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 35%; }
      body .app-content .controls .controls-title {
        background-color: #ffccf3;
        color: #141f1f;
        text-shadow: 2px 2px #ff66d9;
        padding: 29px;
        text-transform: uppercase;
        font-size: 33px;
        border-right: 15px solid #330026;
        border-left: 15px solid #330026;
        border-top: 5px solid #330026;
        border-bottom: 5px solid #330026;
        text-align: center;
        height: 35%; }
      body .app-content .controls .controls_panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 33%;
        height: 25%; }
        body .app-content .controls .controls_panel .button {
          width: 130px;
          height: auto;
          text-decoration: none;
          margin: 7.5px;
          background-color: #ffccf3;
          color: #330026;
          text-shadow: 3px 1px #ffe066;
          text-align: center;
          padding: 7.5px;
          font-size: 25px;
          font-weight: 800;
          box-shadow: 5px 10px #1a0013;
          border: none;
          border-radius: 15px;
          transition: 1s linear; }
          body .app-content .controls .controls_panel .button:hover {
            color: #ffccf3;
            text-shadow: none;
            background-color: #330026;
            box-shadow: 5px 10px #b3cccc; }
    body .app-content .stopwatch {
      width: 66%;
      border-right: 15px solid #141f1f;
      border-left: 15px solid #141f1f;
      border-top: 5px solid #141f1f;
      border-bottom: 5px solid #141f1f;
      text-shadow: 2px 2px #ff66d9;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 15px;
      background-color: #ccc;
      background-image: radial-gradient(#b3cccc 50%, #141f1f);
      color: #141f1f;
      text-align: center;
      transition: 1s linear;
      font-size: 35px;
      font-weight: 600; }
      body .app-content .stopwatch .stopped {
        font-size: 35px;
        font-weight: 600; }
      body .app-content .stopwatch .on-run {
        transform: scale(1.5); }
    body .app-content .results-common {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      body .app-content .results-common .results-common_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px; }
        body .app-content .results-common .results-common_list .table_results, body .app-content .results-common .results-common_list .table_sorted-results {
          width: 230px;
          background-color: #ffccf3;
          color: #330026;
          border-right: 15px solid #330026;
          border-left: 15px solid #330026;
          border-top: 5px solid #330026;
          border-bottom: 5px solid #330026;
          text-align: center;
          font-weight: 600;
          font-size: 24px;
          text-transform: capitalize;
          text-shadow: 3px 1px #ffe066;
          padding: 10px;
          margin: 0 5px 00; }
        body .app-content .results-common .results-common_list .results, body .app-content .results-common .results-common_list .sorted-results {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 40px 0 0; }
          body .app-content .results-common .results-common_list .results li, body .app-content .results-common .results-common_list .sorted-results li {
            width: 200px;
            font-size: 18px;
            font-weight: 600;
            color: #330026;
            background-color: #b3cccc;
            border-left: 2.5px solid #330026;
            border-top: none;
            border-right: 2.5px solid #330026;
            border-bottom: 2.5px solid #330026;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-shadow: 3px 1px #ffe066;
            padding: 5px; }
            body .app-content .results-common .results-common_list .results li span, body .app-content .results-common .results-common_list .sorted-results li span {
              font-size: 18px;
              font-weight: 800;
              color: #141f1f;
              text-shadow: 2px 2px #ffccf3;
              padding: 5px; }
            body .app-content .results-common .results-common_list .results li button, body .app-content .results-common .results-common_list .sorted-results li button {
              padding: 3px;
              font-size: 14px;
              font-weight: 900;
              color: #ffccf3;
              text-align: center;
              text-shadow: none;
              text-transform: uppercase;
              background-color: #330026;
              transition: 1s linear; }
              body .app-content .results-common .results-common_list .results li button:hover, body .app-content .results-common .results-common_list .sorted-results li button:hover {
                color: #330026;
                text-shadow: 3px 1px #ffe066;
                background-color: #ffccf3; }
