*{
  box-sizing: border-box;
}
$pale-blue: #4dffff;
$plain-violet: #800060;
$deep-violet: #4d0039;
$steel-blue: #b3cccc;
$dark-steel-blue: #283e3e;
$super-deep-violet: #1a0013;

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

body {
  position: relative;

  .app-content:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("Background_1.png");
  background-size: cover;
  height: 100%;
}
  .app-content {
    position: relative;
    overflow: auto;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

      .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 5px;
        height: 35%;

        .controls-title {
          background-color: $dark-steel-blue;
          color: $pale-blue;;
          padding: 29px;
          text-transform: uppercase;
          font-size: 33px;
          box-shadow: 5px 10px  $super-deep-violet;
          text-align: center;
          height: 35%;
        }

        .controls_panel {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-width: 33%;
          height: 25%;


          .button {
            width: 130px;
            height: auto;
            text-decoration: none;
            margin: 7.5px;
            background-color: $deep-violet;
            color: $pale-blue;
            text-align: center;
            padding: 7.5px;
            font-size: 25px;
            font-weight: 800;
            box-shadow: 5px 10px  $super-deep-violet;
            border: none;
            border-radius: 15px;
            transition: 1s linear;
            &:hover{
              color: $deep-violet;;
              background-color: #fff;
              box-shadow: 5px 10px  $dark-steel-blue;
            }
          }
        }
      }
      .stopwatch-common {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .stopwatch {
          width: 66%;
          border-right: 15px solid $deep-violet;
          border-left: 15px solid $deep-violet;
          border-top: 5px solid $dark-steel-blue;
          border-bottom: 5px solid $dark-steel-blue;
          text-transform: uppercase;
          box-shadow: 5px 10px  $super-deep-violet;
          margin: 0 auto;
          padding: 15px;
          background-color: #ccc;
          background-image: radial-gradient(#fff 20%, $steel-blue 30%, $dark-steel-blue);
          color: $dark-steel-blue;
          text-align: center;
          transition: 1s linear;
          font-size: 35px;
          font-weight: 600;
          &.stopped {
          font-size: 35px;
          font-weight: 600;
          }
          &.on-run {
            color: $deep-violet;
            transform: scale(1.15);
          }
        }

        .decorative {
          width: 60px;
          height: 60px;
          transform: rotate(45deg);
          border: 10px solid $dark-steel-blue;
          background-color:  $deep-violet;
          box-shadow: 10px 5px  $super-deep-violet;
        }
      }

      .results-common {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;

          .results-animation {
            position: relative;
            left: -100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 100px 25px 0 0;

            .results-animation_head {
              width: 40px;
              height: 40px;
              border: 2px solid #fff;
              border-radius: 30px;
              background-color: $deep-violet;
              margin-right: 10px;
              transition: 1s ease-in-out;


              &.stopped {
                animation: none;
                transform: none;
              }
              &.on-run {
                  background-color: $dark-steel-blue;
                  transform: translate(0px, -20px);
                  @include animation ('moving_head 10s 5');
                 }
              @include keyframes (moving_head) {
                  0%   {
                    top: Opx;
                    left: 0px;
                  }
                  25%  {
                    top: 1Opx;
                    left: 0px;
                  }
                  50%  {
                    top: 2Opx;
                    left: 0px;
                  }
                  75%  {
                    top: 1Opx;
                    left: 0px;
                  }
                  100% {
                    top:Opx; left:0px;
                  }
                }
            }

            .results-animation_body {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              position: relative;
              .results-animation_left-arm {
                width: 20px;
                height: 66px;
                transform: rotate(30deg);
                border: 2px solid #fff;
                border-radius: 15px;
                background-color: $deep-violet;
                margin-right:10px;
                position: relative;
                top: -10px;
                transition: 1s ease-in-out;
                &.stopped {
                  transform: rotate(30deg);
                }
                &.on-run {
                  background-color: $dark-steel-blue;
                  transform: rotate(-30deg);
                  transform: translate(0px, -20px);
                }
              }
              .results-animation_torso {
                width: 60px;
                height: 80px;
                border: 2px solid #fff;
                border-radius: 10px;
                background-color: $deep-violet;
                transition: 1s ease-in-out;
                &.stopped {
                  transform: none;
                }
                &.on-run {
                  background-color: $dark-steel-blue;
                  transform: translate(0px, -20px);
                }
              }
              .results-animation_right-arm {
                @extend .results-animation_left-arm;
                transform: rotate(-30deg);
                margin-left: 10px;
                transition: 1s ease-in-out;
                &.stopped {
                  transform: rotate(-30deg);
                }
                &.on-run {
                  transform: translate(0px, -20px);
                }
              }
            }
              .results-animation_legs {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: relative;
              .results-animation_left-leg {
                  width: 25px;
                  height: 80px;
                  border: 2px solid #fff;
                  border-radius: 15px;
                  background-color: $deep-violet;
                  margin-right: 7.5px;
                  margin-left: none;
                  transition: 1s ease-in-out;
                  &.stopped {
                    transform: none;
                  }
                  &.on-run {
                    background-color: $dark-steel-blue;
                    transform: translate(0px, -20px);
                  }
                }
                .results-animation_right-leg {
                  @extend .results-animation_left-leg;
                  margin-left: 7.5px;
                  margin-right: none;
                  transition: 1s ease-in-out;
                  &.stopped {
                    transform: none;
                  }
                  &.on-run {
                    transform: translate(0px, -20px);
                    background-color: $dark-steel-blue;
                  }
                }
              }
          }

          .results-common_list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 25px;

            .table_results {
                width: 230px;
                background-color: $deep-violet;
                color: $pale-blue;
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                text-transform: capitalize;
                padding: 10px;
                margin: 0 5px 00;
            }

            .table_sorted-results {
              @extend .table_results;
            }
            .results {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 40px 0 0;
                li {
                    width: 200px;
                    font-size: 18px;
                    font-weight: 600;
                    color: $deep-violet;
                    background-color: $steel-blue;
                    border-left: 2.5px solid $deep-violet;
                    border-top: none;
                    border-right: 2.5px solid $deep-violet;
                    border-bottom: 2.5px solid $deep-violet;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 5px;
                  span {
                      font-size: 18px;
                      font-weight: 800;
                      color: $dark-steel-blue;;
                      padding: 5px;
                }
                  button {
                      padding: 3px;
                      font-size: 14px;
                      font-weight: 900;
                      color:  $deep-violet;
                      text-align: center;
                      text-shadow: none;
                      text-transform: uppercase;
                      background-color: $pale-blue;
                      transition: 1s linear;
                      &:hover{
                        color: #fff;
                        background-color: $deep-violet;
                  }
                }
              }
            }
            .sorted-results {
              @extend .results;
            }
          }

      }
  }

}
